@import "../../../../../assets/style/global";

.about-us-container {
  margin: 40px auto;
  padding: 0px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .about-us-title {
    font-size: 4em;
    line-height: 1em;
    color: $primary;
  }

  .content {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .slides-container {
    height: 220px;
    position: relative;
  }
  .slide-content {
    height: 200px;
    margin-top: 20px;
    margin-inline-end: 30px;
    animation: hideSlide 0.8s ease 0s 1 forwards;
    position: absolute;
    top: 0;
    &.active {
      display: block;
      animation: showSlide 0.8s ease 0s 1 forwards;
    }
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.5em;
    }
  }

  .cover-container {
    width: 50%;
    position: relative;
    margin-inline-start: auto;
    height: 400px;
    .cover-slide {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      animation: hideSlide 0.8s ease 0s 1 forwards;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      &.active {
        animation: showSlide 0.8s ease 0s 1 forwards;
      }
    }
  }

  .tabs-container {
    display: flex;
    margin: 30px;
    align-self: flex-end;
    justify-self: flex-end;

    .tab {
      display: block;
      height: 5px;
      width: 25px;
      background-color: $gray;
      transition: 0.3s ease;
      margin-inline-end: 5px;
      &.active {
        background-color: $primary;
        width: 35px;
      }
    }
  }

  @keyframes showSlide {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes hideSlide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
