@import '../../../assets/style/global';

.project-page-container {
	width: 100%;
	background-color: $lightGray;
	position: absolute;
	.header-container {
		padding-top: 50px;
		.logo-container {
			color: $primary;
		}
	}
	.page-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		padding: 100px 0px 70px;
		align-items: center;
		width: 1200px;
		max-width: 95%;
		margin: auto;
		margin-top: 50px;
		.goback-btn {
			@include advBtn;
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			align-self: flex-end;
			position: relative;
			z-index: 5;
			svg {
				margin-inline-start: 20px;
			}
		}
	}
	.slider-container {
		position: relative;
		height: auto;
		max-height: 600px;
		width: 100%;

		.circle-img {
			color: $gray;
			width: 16em;
			height: 16em;
			object-fit: contain;
			animation: roll 80s ease infinite;
			position: absolute;
			z-index: 1;
			top: -100px;
			right: -100px;
			opacity: 0.2;
		}
	}
	.swiper-container {
		box-shadow: 0px 5px 20px 2px rgba($color: $primary, $alpha: 0.2);
		border-radius: 10px;
		margin: 0;
		max-height: inherit;
		.swiper-slide {
			height: 100%;
			width: 100%;
			cursor: pointer;
			max-height: inherit;
		}
		img {
			display: block;
			height: auto;
			max-width: 100%;
			max-height: inherit;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		.swiper-pagination {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
			column-gap: 7px;
			width: 500px;
			max-width: 70%;
			left: 50%;
			transform: translateX(-50%);
			.swiper-pagination-bullet {
				border-radius: 4px;
				width: 100%;
				&-active {
					background-color: $primary;
				}
			}
		}
	}
	.btns-container {
		display: flex;
		justify-content: flex-end;
		margin: 25px 0px 25px auto;
		z-index: 2;
		position: relative;
		button {
			font-size: 16px;
			@include advBtn;
			text-transform: uppercase;
			&:active {
				transform: scale(0.95);
			}
			&:nth-child(1) {
				margin-inline-end: 20px;
			}
		}
	}

	.slider-footer {
		transform: translateY(-90px);
		color: $primary;
		width: 800px;
		max-width: 95%;
		position: relative;
		align-self: flex-start;
		.circle-img {
			color: $gray;
			width: 12em;
			height: 12em;
			object-fit: contain;
			animation: roll 80s ease infinite;
			position: absolute;
			z-index: 0;
			top: -50px;
			left: 100px;
			opacity: 0.2;
		}
		.title {
			font-size: 3em;
			z-index: 1;
			position: relative;
			direction: ltr;
		}
		p {
			position: relative;
			z-index: 1;
			font-size: 1.3em;
		}
	}
	@include media(desktop-lg) {
	}
	@include media(desktop-md) {
	}
	@include media(desktop-sm) {
		.slider-footer {
			transform: translateY(0px);
		}
	}
	@include media(tablet-lg) {
	}
	@include media(tablet-md) {
	}
	@include media(tablet-sm) {
	}
	@include media(phone-lg) {
	}
	@include media(phone-md) {
	}
	@include media(phone-sm) {
	}
}
