@import '../../../assets/style/global';

.header-container {
	position: absolute;
	top: 0;
	z-index: 10;
	padding: 30px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 40px);
	min-width: 100%;
	transition: 0.3s ease;
	margin: auto;

	.burger-menu {
		width: 65px;
		cursor: pointer;
		&:hover,
		&.open {
			span {
				z-index: 1;
				transform: scale(1.1);
				background-color: $primary;
				border-color: $lightGray;
				border-width: 3px;
				&:nth-child(1) {
					transform: scale(1.1) rotateY(5deg);
					width: calc(100% + 10px);
					z-index: 2;
				}
				&:nth-child(2) {
					transform: scale(1.1) rotateZ(-75deg) translate(-3px, -16px) rotateY(10deg);
					width: calc(100% + 16px);
					z-index: 2;
				}
				&:nth-child(3) {
					transform: scale(1.1) rotateZ(-75deg) translate(12px, 8px) rotateX(-10deg);
					width: calc(100% + 16px);
					z-index: 4;
				}
				&:nth-child(4) {
					transform: scale(1.1) translate(-2px, -8px) rotateY(5deg);
					width: calc(100% + 8px);
					z-index: 3;
				}
			}
		}
		&.open {
			position: fixed;
			left: 30px;
			bottom: 30px;
		}
		span {
			cursor: pointer;
			display: block;
			width: 100%;
			height: 12px;
			transition: 0.3s ease;
			border-radius: 12px;
			border: 2px solid rgba($color: $primary, $alpha: 0.8);
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			position: relative;
		}
	}

	.get-quote-container {
		position: fixed;
		right: -1120px;
		bottom: 0;
		top: 0px;
		bottom: 0px;
		padding: 20px 0px;
		z-index: 15;
		transition: 1.5s ease;
		display: flex;
		overflow-x: visible;
		overflow-y: auto;
		&.active {
			right: 0;
		}
		.get-quote-btn {
			position: fixed;
			z-index: 1;
			top: calc(200px + 40px);
			transform: rotate(-90deg) translateY(-20%);
			transform-origin: 50% 100%;
			border: 2px solid rgba($color: $primary, $alpha: 0.8);
			border-radius: 12px 12px 0 0;
			padding: 10px 25px 90px;
			text-transform: uppercase;
			width: max-content;
			font-size: 30px;
			line-height: 39px;
			font-weight: 500;
			color: $primary;
			cursor: pointer;
			user-select: none;
			transition: 1s ease;
			background-color: $lightGray;
			white-space: nowrap;
			@media all and (max-height: 550px) {
				top: 20vh;
			}
			&:hover {
				background-color: $primary;
				color: $white;
				transform: rotate(-90deg) translateY(-70%);
			}
			&.active {
				transition: 1s ease;
				background-color: $primary;
				color: $white;
				transform: rotate(-90deg) translateY(-70%);
			}
		}
		.get-quote-wrapper {
			display: flex;
			background-color: $lightGray;
			overflow: auto;
			width: max-content;
			min-height: 95vh;
			position: relative;
			z-index: 2;
			transition: 0.2s ease;
			box-shadow: -10px 0px 20px rgba($color: $black, $alpha: 0.1);
			border-radius: 12px 0 0 12px;
			position: relative;
			.close-icon {
				position: absolute;
				top: 20px;
				right: 20px;
				font-size: 30px;
				cursor: pointer;
				color: $primary;
				transition: 0.3s ease;
				&:hover {
					color: $gray;
				}
			}
		}
	}
	.language-changer {
		position: fixed;
		left: 7vw;
		bottom: 0;
		background-color: transparent;
		border-bottom: none;
		overflow: hidden;
		border-radius: 12px 12px 0 0;
		display: grid;
		grid-template-columns: auto auto;
		place-items: center;
		.language-flag {
			padding: 8px 15px 0;
			cursor: pointer;
			transition: 0.3s ease;
      background-color: $white;
			&:hover {
				background-color: $primary;
			}
			&:active {
				transition: none;
				transform: scale(0.9);
			}
			&.active {
				background-color: $primary;
			}
			svg {
				width: 1.8em;
			}
		}
	}

	/********************************/
	@include media(desktop-lg) {
	}
	/********************************/
	@include media(desktop-md) {
		.get-quote-container {
			right: -1250px;
		}
	}
	/********************************/
	@include media(desktop-sm) {
		.get-quote-container {
			right: -850px;
		}
	}
	/********************************/
	@include media(tablet-lg) {
	}
	/********************************/
	@include media(tablet-md) {
		.get-quote-container {
			right: -650px;
			.get-quote-wrapper {
				height: max-content;
			}
		}
	}
	/********************************/
	@include media(tablet-sm) {
		padding: 30px 40px;
		.burger-menu {
			width: 50px;
			span {
				height: 10px;
			}
		}
		.get-quote-container {
			right: -80vw;

			.get-quote-btn {
				font-size: 1.5em;
				transform: rotate(-90deg) translateY(-10px);
				&:hover {
					transform: rotate(-90deg) translateY(-50%);
				}
				&.active {
					transform: rotate(-90deg) translateY(-30%);
				}
			}
		}
	}
	/********************************/
	@include media(phone-lg) {
	}
	/********************************/
	@include media(phone-md) {
		.get-quote-container {
			.get-quote-btn {
				top: 50vh;
			}
		}
	}
	/********************************/
	@include media(phone-sm) {
	}
	/********************************/
}
