@import '../../../assets/style/global';

.footer-container {
	background-color: $primary;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: $white;
	position: relative;
	z-index: 2;
	padding-inline-start: 30px;
	animation: clipCircle 2s ease 1;
	@keyframes clipCircle {
		0% {
			clip-path: circle(0% at 50% 50%);
		}
		100% {
			clip-path: circle(100% at 50% 50%);
		}
	}
	.logo-container {
		margin-inline-start: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		a {
			color: $white;
		}
		h1 {
			font-family: Zero;
			letter-spacing: 20px;
		}
		.copyright {
			font-size: 12px;
		}
	}
	.nav-links {
		padding: 30px 0px;

		h2 {
			margin-bottom: 10px;
		}
		.links {
			display: flex;
			& > div {
				flex: wrap;
				display: flex;
				margin-inline-end: 80px;
				flex-direction: column;
			}
		}

		a {
			width: max-content;
			border-radius: 15px;
			cursor: pointer;
			transition: 0.3s ease;
			font-size: 18px;
			&:hover {
				transform: scale(1.2) translateX(20px);
			}
		}
	}
	.address-container {
		padding: 30px 0px;
		display: flex;
		flex-direction: column;
		font-size: 18px;
	}
	.designed-archaos {
		margin-inline-start: 80px;
		display: flex;
		align-items: center;
		h3 {
			writing-mode: vertical-rl;
			text-orientation: mixed;
			transform: scale(-1);
			font-weight: 400;
			font-size: 14px;
		}
		.img-bg {
			width: 100%;
			height: 100%;
			background-image: url('../../../assets/img/home-bg.png');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	@include media(desktop-lg) {
	}
	@include media(desktop-md) {
	}
	@include media(desktop-sm) {
		grid-template-areas:
			'logo img'
			'links address';
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		.logo-container {
			grid-area: logo;
		}
		.nav-links {
			grid-area: links;
		}
		.address-container {
			grid-area: address;
		}
		.designed-archaos {
			grid-area: img;
			h3 {
				padding: 20px 0;
			}
		}
	}
	@include media(tablet-lg) {
	}
	@include media(tablet-md) {
	}
	@include media(tablet-sm) {
		.nav-links {
			.links {
				flex-direction: column;
			}
		}
	}
	@include media(phone-lg) {
		padding-inline-start: 15px;
	}
	@include media(phone-md) {
		display: flex;
		flex-direction: column;
		padding-top: 25px;
		padding-inline-start: 0;
		.logo-container {
			order: 1;
		}
		.nav-links {
			order: 3;
			padding-inline-start: 15px;
			.links {
				flex-direction: row;
			}
		}
		.address-container {
			padding-inline-start: 15px;
			order: 2;
		}
		.designed-archaos {
			order: 4;
			margin: 0;
			flex-direction: column;
			h3 {
				padding: 0;
				margin: 0 auto;
				transform: none;

				writing-mode: unset;
				text-orientation: unset;
				white-space: nowrap;
			}
			.img-bg {
				width: 100%;
				height: 100px;
			}
		}
	}
	@include media(phone-sm) {
		.nav-links {
			.links {
				flex-direction: column;
			}
		}
	}
}
