@import '../../../assets/style/global';

.contact-us-container {
	width: 100%;
	min-height: 100vh;
	padding-top: 60px;
	background-color: $lightGray;
	position: relative;
	display: flex;
	flex-direction: column;

	.header-container {
		.logo-container {
			color: $primary;
		}
	}

	.info-container {
		padding: 20px;
		min-height: 95vh;
		flex-basis: 100%;
		position: relative;
		width: max-content;
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.contact-txt,
	.us-txt {
		display: block;
		font-size: 180px;
		text-align: right;
		color: $primary;
		text-shadow: -3px 6px 18px rgba($color: $white, $alpha: 0.2);
		line-height: 130px;
		text-transform: uppercase;
		z-index: 2;
		cursor: default;
		user-select: none;
	}
	.us-txt {
		text-align: justify;
		font-size: 220px;
		line-height: 160px;
	}
	.info-wrapper {
		display: flex;
		align-items: flex-end;
		width: 100%;
		justify-content: space-between;
		margin-top: 35px;
		position: relative;
		.circle-img {
			color: $gray;
			width: 300px;
			height: 300px;
			object-fit: contain;
			position: absolute;
			z-index: 1;
			left: -30px;
			top: -100px;
			animation: roll 100s ease infinite;
		}
		.information {
			text-transform: uppercase;
			font-size: 26px;
			font-weight: 500;
			color: $gray;
		}
	}

	@include media(desktop-lg) {
	}
	@include media(desktop-md) {
	}
	@include media(desktop-sm) {
	}
	@include media(tablet-lg) {
	}
	@include media(tablet-md) {
		.info-container {
			align-items: flex-start;
			.contact-txt {
				font-size: 120px;
				line-height: 100px;
			}
			.info-wrapper {
				margin-top: 10px;
				.circle-img {
					width: 200px;
				}
				.us-txt {
					font-size: 120px;
					line-height: 90px;
				}
				.information {
					font-size: 20px;
					padding-inline-start: 30px;
				}
			}
		}
	}
	@include media(tablet-sm) {
	}
	@include media(phone-lg) {
		.info-container {
			width: 90%;
			padding: 0;
			.contact-txt {
				font-size: 90px;
				line-height: 70px;
			}
			.info-wrapper {
				flex-direction: column;
				align-items: flex-start;
				margin-top: 10px;
				.circle-img {
					width: 160px;
					top: -115px;
				}
				.us-txt {
					font-size: 90px;
					line-height: 70px;
				}
				.information {
					font-size: 18px;
					padding-inline-start: 30px;
					align-self: flex-end;
				}
			}
		}
	}
	@include media(phone-md) {
	}
	@include media(phone-sm) {
	}

	@include media(small-height) {
		.info-container {
			min-height: 800px;
		}
	}
}
