@import '../../../assets/style/global';

.service-page-container {
	width: 100%;
	background-color: $lightGray;
	position: absolute;
	.header-container {
		padding-top: 50px;
		.logo-container {
			color: $primary;
		}
	}
	.page-container {
		display: flex;
		min-height: 100vh;
		padding: 100px 20px 70px;
	}

	.content-container {
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		flex-direction: column;
		padding-top: 100px;
		width: 100%;
		.images-container {
			position: relative;
			display: flex;
			justify-content: flex-start;
			width: 100%;
			.bg-img {
				display: block;
				margin: auto;
				background-size: cover;
				max-width: 100%;
				width: 1200px;
				height: auto;
				position: relative;
				z-index: 3;
			}
			.circle-img {
				color: $gray;
				width: 300px;
				height: 300px;
				object-fit: contain;
				animation: roll 80s ease infinite;
				position: absolute;
				z-index: 1;
				top: -100px;
				left: 100px;
				opacity: 0.7;
			}
		}
		.header-info {
			width: 800px;
			max-width: 80%;
			position: relative;
			top: -50px;
			z-index: 3;
			h1 {
				color: $primary;
				font-size: 50px;
				font-weight: 500;
				text-shadow: 0px 1px 5px rgba($color: $lightGray, $alpha: 0.3);
				line-height: 50px;
				display: table-caption;
			}
			p {
				color: $primary;
			}
		}
		.content-info {
			align-self: flex-start;
			padding-inline-start: 15vw;
			h3 {
				color: $primary;
				font-size: 40px;
				font-weight: 500;
			}
			p {
				color: $primary;
				font-size: 30px;
				line-height: 40px;
				text-align: right;
			}
		}
		.get-quote-btn {
			@include advBtn;
			align-self: center;
			margin-top: 20px;
		}
		.back-btn {
			@include advBtn;
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			align-self: flex-end;
			position: relative;
			z-index: 5;
			svg {
				margin-inline-start: 20px;
			}
		}
	}

	@include media(phone-lg) {
		.content-container {
			.content-info {
				align-self: flex-end;
				padding: 0;
			}
			.back-btn {
				font-size: 16px;
			}
		}
	}
}
