@import "../../../assets/style/global";

.portfolio-container {
  width: 100%;
  background-color: $lightGray;
  position: relative;

  .page-container {
    min-height: 100vh;
    display: flex;
    padding: 20px;
    align-items: center;
    .circle-img {
      color: $gray;
      width: 300px;
      height: 300px;
      object-fit: contain;
      position: absolute;
      z-index: 1;
      top: calc(-190px);
      right: 18%;
      animation: roll 140s ease infinite;
    }
  }

  .header-container {
    .logo-container {
      color: $primary;
    }
  }

  .left-wrapper {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    position: relative;
    padding-top: 110px;
    padding-left: 30px;
    .our-portfolio-txt {
      color: $primary;
      font-size: 80px;
      line-height: 100px;
      transition: 0.5s ease;
      text-transform: uppercase;
      white-space: nowrap;
      & > span {
        color: $primary;
        font-size: inherit;
        line-height: inherit;
        font-weight: 500;
        text-shadow: 0px 0px 5px rgba($color: $white, $alpha: 0.2);
      }
    }
  }
  .right-wrapper {
    flex: 6;
    position: relative;
    background-color: $lightGray;
    display: flex;
    justify-content: space-evenly;
    padding-right: 60px;
    height: 580px;

    .portfolio-grid {
      display: grid;
      grid-template-columns: 280px 280px;
      grid-template-rows: 280px 280px;
      justify-items: center;
      align-content: center;
      column-gap: 20px;
      row-gap: 20px;
      position: relative;
      .portfolio-box {
        @include serviceBox;
        max-height: 280px;
        clip-path: circle(200% at 50% 50%);
        animation: clipBox 1.5s ease 1;
        transition: 0.3s ease;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0px 8px 10px rgba($color: $primary, $alpha: 0.2);
        }
        @keyframes clipBox {
          0% {
            clip-path: circle(0% at 50% 50%);
          }
          100% {
            clip-path: circle(200% at 50% 50%);
          }
        }
      }
      .triangle-shape {
        position: absolute;
        bottom: -150px;
        cursor: pointer;
        transition: 0.2s ease;
        transform: rotateX(60deg);
        border: 50px solid transparent;
        border-top: 80px solid $primary;
        &:hover {
          border-top-color: $gray;
        }
      }
    }
    .vertical-content {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-size: 30px;
      line-height: 46px;
      display: flex;
      flex-direction: column;
      transform: scale(-1);
      display: inline;
      & > span {
        font-weight: 500;
        color: $primary;
      }
    }
  }

  @include media(desktop-lg) {
  }
  @include media(desktop-md) {
    .right-wrapper {
      padding-left: 50px;
      .vertical-content {
        margin-left: 30px;
      }
    }
  }
  @include media(desktop-sm) {
    .right-wrapper {
      .vertical-content {
        font-size: 1.5em;
        line-height: 1.3em;
      }
      .portfolio-grid {
        grid-template-rows: 200px 200px;
        grid-template-columns: 200px 200px;

        .service-box {
          padding: 15px;
          h1.title {
            font-size: 1.5em;
          }
        }
        .triangle-shape {
          bottom: -70px;
          border: 40px solid transparent;
          border-top: 60px solid $primary;
        }
      }
    }
  }
  @include media(tablet-lg) {
  }
  @include media(tablet-md) {
    .page-container {
      padding: 100px 0px 60px;
    }
    .header-container {
      .logo-container {
        color: $primary;
      }
    }
    .page-container {
      flex-direction: column;
    }
    .left-wrapper {
      min-height: unset;
      width: 100%;
      padding: 15px;
      margin-bottom: 50px;
      .our-portfolio-txt {
        height: auto;
        writing-mode: unset;
        text-orientation: unset;
      }
    }
    .right-wrapper {
      padding: 0;
    }
  }
  @include media(tablet-sm) {
    .right-wrapper {
      padding: 0 20px;
      height: max-content;
      flex-direction: column;
      align-items: center;
      .portfolio-grid {
        grid-template-rows: 150px 150px;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        .triangle-shape {
          bottom: -100px;
        }
      }
      .vertical-content {
        margin: 0;
        margin-top: 120px;
        writing-mode: unset;
        text-orientation: unset;
        transform: none;
      }
    }
  }
  @include media(phone-lg) {
  }
  @include media(phone-md) {
  }
  @include media(phone-sm) {
  }
  @include media(small-height) {
    .page-container {
      min-height: 800px;
    }
  }
}
