@import "../../assets/style/global";

.portfolio-container {
  width: 100%;
  height: 100%;
  background-color: $lightGray;
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 20px;

  .header-container {
    .logo-container {
      color: $primary;
    }
  }

  .left-wrapper {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-top: 110px;
    padding-left: 30px;
    .our-portfolio-txt {
      color: $primary;
      font-size: 80px;
      line-height: 100px;
      transition: 0.5s ease;
      text-transform: uppercase;
      white-space: nowrap;
      & > span {
        color: $primary;
        font-size: inherit;
        line-height: inherit;
        font-weight: 500;
        text-shadow: 0px 0px 5px rgba($color: $white, $alpha: 0.2);
      }
    }
  }
  .right-wrapper {
    flex: 6;
    position: relative;
    background-color: $lightGray;
    display: flex;
    justify-content: space-evenly;
    padding-right: 60px;
    .circle-img {
      color: $gray;
      width: 300px;
      height: 300px;
      object-fit: contain;
      position: absolute;
      z-index: 1;
      top: calc(-190px);
      right: 18%;
      animation: roll 140s infinite;
    }
    .portfolio-grid {
      display: grid;
      grid-template-rows: 280px 280px;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-content: center;
      column-gap: 20px;
      row-gap: 20px;
      position: relative;
      .portfolio-box {
        @include serviceBox;
        max-height: 280px;
      }
      .triangle-shape {
        position: absolute;
        bottom: 0;
        cursor: pointer;
        transition: 0.2s ease;
        transform: rotateX(60deg);
        border: 50px solid transparent;
        border-top: 80px solid $primary;
        &:hover {
          border-top-color: $gray;
        }
      }
    }
    .vertical-content {
      padding-bottom: 140px;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-size: 22px;
      line-height: 33px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      transform: scale(-1);
      display: inline;
      margin-bottom: 30px;
      & > span {
        font-weight: 500;
        color: $primary;
      }
    }
  }
}
